/* ==================== Begin style.css =======================*/

$applecore: #DCC7AA;
$apricot: #F7882F;
$blueberry: #6B7A8F;
$citrus: #F7C331;
$defaultBackground: $applecore;

/* Container dimensions */
$appHeight: 525px;
$projectTableMinHeight: 50px;
$projectTableWidth: 350px;
$taskTableWidth: 775px;
$taskTableMinHeight: 50px;
$taskTableMaxHeight: 400px;
$projectTaskTableMinHeight: $taskTableMinHeight;
$projectTaskTableMaxHeight: $taskTableMaxHeight - 100px;

/* Column dimensions */
$statusColWidth: 28px;
$nameColWidth: 175px;
$descColWidth: 200px;
$dueColWidth: 125px;
$projectColWidth: 70px;
$priorityColWidth: 80px;
$actionColWidth: 80px;
$actionColHeight: 36px;

/* Universal */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Zilla Slab', serif;
  background: $citrus;
}

footer {
  background: $defaultBackground;
  position: fixed;
  top: $appHeight - 25px;
  clear: both;
}

footer img, p {
  display: inline;
}

table {
  border-collapse: collapse;
  border-spacing: 5px 5px; 
}

thead {
  display: block;
}

tbody {
  display: block;
  overflow: auto;
}

td { 
  border-bottom: 1px solid $apricot;
}

tr td:nth-child(2):hover {
  text-decoration: underline;
  cursor: pointer;
  
}

thead tr td:nth-child(2):hover {
 text-decoration: none;
 cursor: auto;
}

.hidden { 
  display: none;
}

.block {
  display: block;
}

.btn {
  background: $apricot;
  border-radius: 5px;
  margin: 3px;
  margin-left: 0;
}

td .btn {
  margin: 0;
}

.btn:hover {
  cursor: pointer;
}

#container {
  height: $appHeight;
  background: $applecore;
}

#page-actions {
  background: $defaultBackground;
  float: left;
}

div#popup-show {
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  position:fixed;
  overflow:auto;
}

div#popup-container {
  position:absolute;
  left:50%;
  top:17%;
  margin-left:-202px;
}

#popup-form {
  max-width:325px;
  min-width:250px;
  padding:10px 50px;
  border:2px solid gray;
  border-radius:10px;
  background-color: $defaultBackground;
}

/* Tab menu items */
/* Thanks to Chris Coyier for his article on tabs with round out borders. */
/* While I didn't use the round out borders, I mainly used the it for */
/* the "forefronting" of a tab */
.tabrow {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 24px;
  position: relative;
  background: $citrus;
}

.tabrow:after {
  position: absolute;
  content: "";
  width: 100%;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #000;
  z-index: 1;
}

.tabrow:before {
  z-index: 1;
}

.tabrow li {
  margin: 0 10px;
  padding: 0 10px;
  border: 1px solid #AAA;
  border-radius: 15% 15% 0 0;
  background: $apricot;
  display: inline-block;
  position: relative;
  z-index: 0;
}

.tabrow li:hover {
  cursor: pointer;
}

/* z-index is the key here, the bottom border-color takes precedence */
.tabrow li.selected {
  background: $defaultBackground;
  color: #000;
  z-index: 2;
  border-bottom-color: $defaultBackground;
}

/* taskTab */

#tasks-table,
#projects-container #tasks-table {
  width: $taskTableWidth;
}

#tasks-table tbody {
  width: $taskTableWidth;
  min-height: $taskTableMinHeight;
  max-height: $taskTableMaxHeight;
}

#tasks-container {
  background: $applecore;
  height: $appHeight - 100px;
}


th {
  text-align: left;
}

/* Status */
th:nth-child(1) {
  width: $statusColWidth;
}

/* Name */
td:nth-child(2),
th:nth-child(2) {
  width: $nameColWidth;
}

/* Description */
td:nth-child(3),
th:nth-child(3) {
  width: $descColWidth;
}

/* Due Date */
td:nth-child(4),
th:nth-child(4) { 
  width: $dueColWidth;
}

/* Project */
td:nth-child(5),
th:nth-child(5) {
  width: $projectColWidth;
}

/* Priority */
td:nth-child(6),
th:nth-child(6) {
  width: $priorityColWidth;
} 

/* Action */
td:nth-child(7) {
  height: $actionColHeight
}

/* Project tab */

/* Project bar */
span {
  display: inline-block;
}

/* Name */
span:nth-child(1) {
  width: 200px;
}

/* Description */
span:nth-child(2) {
  width: 200px;
}

/* Due */
span:nth-child(3) {
  width: 150px;
}

/* Complete */
span:nth-child(4) {
  width: 150px;
}

#projects-container #tasks-table tbody {
  width: $taskTableWidth;
  min-height: $projectTaskTableMinHeight;
  max-height: $projectTaskTableMaxHeight;
}

#projects-container #page-actions {
  float: left;
  clear: right;
}
#projects-container {
  background: $defaultBackground;
}

#projects {
  width: $projectTableWidth;
  float: left;
}

#tasks {
  width: $taskTableWidth;
  float: left;
  margin-left: 20px;
}

#projects-table {
  border: 1px solid $apricot;
  margin-border: 5px;
  margin-right: 10px;
  width: $projectTableWidth
}

#projects-table thead {
  width: $projectTableWidth;
}

#projects-table tbody {
  width: $projectTableWidth;
  min-height: $projectTableMinHeight;
}

#projects-table  td {
  border-bottom: none;
};

  
/* ==================== end style.css =========================*/
