/* ==================== Begin style.css =======================*/

/* Universal */
* {
  box-sizing: border-box;
}

.hidden { 
  display: none;
}

.block {
  display: block;
}

#container {
  height: 450px;
}

div#popup-show {
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  position:fixed;
  overflow:auto;
}

div#popup-container {
  position:absolute;
  left:50%;
  top:17%;
  margin-left:-202px;
}

#popup-form {
  max-width:300px;
  min-width:250px;
  padding:10px 50px;
  border:2px solid gray;
  border-radius:10px;
  background-color: lightgrey;
}

/* Tab menu items */
/* Thanks to Chris Coyier for his article on tabs with round out borders. */
/* While I didn't use the round out borders, I mainly used the it for */
/* the "forefronting" of a tab */
.tabrow {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 24px;
  position: relative;
  background: lightgreen;
}

.tabrow:after {
  position: absolute;
  content: "";
  width: 100%;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #000;
  z-index: 1;
}

.tabrow:before {
  z-index: 1;
}

.tabrow li {
  margin: 0 10px;
  padding: 0 10px;
  border: 1px solid #AAA;
  border-radius: 15% 15% 0 0;
  background: lightyellow;
  display: inline-block;
  position: relative;
  z-index: 0;
}

.tabrow li:hover {
  cursor: pointer;
}

/* z-index is the key here, the bottom border-color takes precedence */
.tabrow li.selected {
  background: lightgoldenrodyellow;
  color: #000;
  z-index: 2;
  border-bottom-color: lightgoldenrodyellow;
}

/* taskTab */
footer {
  position: sticky;
  clear: both;
}

footer img, p {
  display: inline;
}

tr td:nth-child(2):hover {
  text-decoration: underline;
  cursor: pointer;
  
}

thead tr td:nth-child(2):hover {
 text-decoration: none;
 cursor: auto;
}

#tasks-container {
  height: inherit;
}

/* Project tab */
#projects-container {
  height: inherit;
}

#projects {
  width: 300px;
  height: inherit;
  float: left;
}
/* ==================== end style.css =========================*/
